@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@/app/components/login/Login.css";

.main-content {
  min-height: 100vh;
}

/* Estilo base para los enlaces */
a {
  color: white;
  text-decoration: none; /* Esto quita el subrayado */
}

/* Estilo el enlace con clase register */
a.register {
  color: #39ace7;
}

/* Estilo para el hover (cuando el mouse está encima) */
a:hover {
  color: #39ace7;
}
